@charset "UTF-8";

.education {
    position: relative;
    background-color: #252525;
    padding-top: 130px;
}

.education__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 20px 0 10px 10vw;
    font: 700 1.7rem "Avenir";
}

.education__item {
    color: white;
    font-family: "Avenir", "NanumSquare";
    margin: 30px 10vw 0 10vw;
    display: flex;
    padding-bottom: 30px;
}

.education__item-icon {
    object-fit: contain;
    max-width: 130px;
    width: 100%;
    height: 130px;
    padding: 20px 40px 20px 20px;
    border-right: 1px solid gray;
}

.education__item-content {
    height: 100px;
    padding: 5px 0 0 40px;
}

.education__item-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.education__item-date {
    font-size: 17px;
    padding-bottom: 10px;
}

.education__item-description {
    font-size: 17px;
}
