@charset "UTF-8";

.education {
    position: relative;
    background-color: #252525;
    padding-top: 130px;
}

.education__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 30px 0 0 10vw;
    font: 700 1.7rem "Avenir";
}

.education__item {
    color: white;
    font-family: "Avenir", "NanumSquare";
}

.education__item-icon {
    height: 80px;
}

.education__item-title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
