@charset "UTF-8";

.experience {
    position: relative;
    background-color: #252525;
    padding-top: 130px;
}

.exp__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 20px 0 10px 10vw;
    font: 700 1.7rem "Avenir";
}

.exp__item {
    color: white;
    font-family: "Avenir", "NanumSquare";
    margin: 30px 10vw 0 10vw;
    display: flex;
    padding-bottom: 30px;
}

.exp__item-icon {
    object-fit: contain;
    max-width: 150px;
    width: 100%;
    height: 150px;
    padding: 20px;
    margin: 20px 40px 20px 0;
    border-radius: 24px;
    background-color: white;
}

.exp__item-content {
    height: auto;
    padding-left: 40px;
    border-left: 1px solid rgb(84, 84, 84);
}

.exp__item-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.exp__item-date {
    font-size: 17px;
    padding-bottom: 10px;
    color: rgb(142, 142, 142);
}

/* 2번째 중첩된 ul의 li */
.exp__item-description-list ul ul li {
    list-style-type: disc;
    list-style-position: inside;
}

/* 3번째 중첩된 ul의 li */
.exp__item-description-list ul ul ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.exp__item-description {
    margin-top: 10px;
    font-size: 17px;
}