@charset "UTF-8";

.experience {
    position: relative;
    padding-top: 130px;
}

.exp__grid {
    display: grid;
    row-gap: 50px;
}

.exp__item {
    margin: 0 15vw;
    display: flex;
}

.exp__item-icon {
    object-fit: contain;
    max-width: 130px;
    width: 100%;
    height: 130px;
    padding: 20px;
    margin: 20px 40px 20px 0;
    border-radius: 15px;
    background-color: white;
}

.exp__item-content {
    height: auto;
    padding-left: 40px;
    border-left: 1px solid rgb(84, 84, 84);
}

.exp__item-title {
    font-size: 24px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    font-family: "NanumSquareExtraBold";
}

.exp__item-date {
    font-size: 13px;
    padding-bottom: 10px;
    color: rgb(142, 142, 142);
}

/* 2번째 중첩된 ul의 li */
.exp__item-description-list ul ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.exp__item-description {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(224, 224, 224);
}