@charset "UTF-8";

.project {
    position: relative;
    background-color: #252525;
    padding-top: 130px;
}

.project__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 30px 0px 30px 10vw;
    font: 700 1.7rem "Avenir";
}

.project__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    justify-content: center;
    margin: 0 10vw;
}

.project__item {
    background-color: white;
    border-radius: 24px;
    padding: 10px;
    font-family: 'NanumSquare';
}

.project__item:hover {
    cursor: pointer;
}

.project__item-thumbnail {
    max-width: 800px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.project__item-thumbnail--light {
    border: 1.5px solid rgb(224, 224, 224);
}

.project__item-title {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 12px 5px;
}

.project__item-description {
    color: gray;
    padding: 0 0 20px 5px;
}

.link {
    text-decoration: none;
    display: inline-block;
    padding: 0 0 12px 5px;
}
