@charset "UTF-8";

.project {
    position: relative;
    background-color: #252525;
    padding-top: 130px;
}

.project__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 20px 0px 40px 10vw;
    font: 700 1.7rem "Avenir";
}

.project__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    justify-content: center;
    margin: 0 10vw;
}

.project__item {
    background-color: white;
    border-radius: 24px;
    padding: 10px;
    font-family: "Avenir", "NanumSquare";
    letter-spacing: 0.06rem;
    display: flex;
    flex-direction: column;
}

.project__item:hover {
    cursor: pointer;
}

.project__item-thumbnail {
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.project__item-thumbnail--light {
    border: 1.5px solid rgb(224, 224, 224);
}

.project__item-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 5px 12px 5px;
}

.project__item-description {
    color: gray;
    padding: 0 5px 10px 5px;
    font-size: 0.9rem;
}

.project__item-flex {
    display: flex;
    margin-top: auto;
}

.project__item-icon {
    height: 40px;
    margin: 7px 15px 10px 5px;
}

.project__item-icon:hover {
    filter: contrast(40%);
}