@charset "UTF-8";

.skill {
    position: relative;
    background-color: #252525;
    margin-top: 100vh;
    padding-top: 130px;
}

.skill__heading {
    color: white;
    letter-spacing: 0.4rem;
    padding: 20px 0 10px 10vw;
    font: 700 1.7rem "Avenir";
}

.skill__flex {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.skill__item-title {
    padding: 30px 0 15px 0;
    color: white;
    text-align: center;
    font: 1.1rem "Avenir";
    letter-spacing: 0.13rem;
}

.skill__item-flex {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 14px;
    width: fit-content;
}

.skill__item-icon {
    height: 70px;
}

.skill__item-caption {
    padding-top: 9px;
    text-align: center;
    color: #1e1e1e;
    font: 0.9rem "Avenir";
    letter-spacing: 0.06rem;
}
