@charset "UTF-8";

.skill {
    position: relative;
    background-color: #252525;
    margin-top: 100vh;
    padding-top: 130px;
    height: 100vh;
}

.skill__heading {
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    padding: 30px 0px 30px 5vw;
    font-family: "NanumSquareExtraBold";
}

.skill__icon {
    height: 50px;
}
