@charset "UTF-8";

.testtest {
    position: relative;
    margin-top: calc(100vh - 90px);
}

.test {
    background-color: lightgray;
    height: 100vh;
    border-radius: 20px 20px 0 0;
}

.test2 {
    background-color: gray;
    height: 100vh;
}
