@charset "UTF-8";

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: 0.5px;
    color: white;
    word-break: keep-all;
    user-select: none;
}

.heading {
    color: white;
    letter-spacing: 4px;
    padding: 20px 0 40px 15vw;
    font: 700 25px "Avenir";
}

.container {
    width: 100%;
}

.container2 {
    width: 100%;
    position: relative;
    background-color: #252525;
}