@charset "UTF-8";

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Avenir", "Noto Sans KR", sans-serif;
    letter-spacing: 0.5px;
    color: white;
}

.heading {
    color: white;
    letter-spacing: 4px;
    padding: 20px 0 40px 15vw;
    font: 700 25px "Avenir";
}
