/* Rubik Bubbles */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* Avenir */
@import url('https://fonts.cdnfonts.com/css/avenir');

/* HS산토끼체2.0 */
@font-face {
    font-family: "HSSanTokki20-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* 나눔스퀘어 네오 */
@font-face {
    font-family: "NanumSquareNeo";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf)
            format("truetype");
}

/* 프리젠테이션 */
@font-face {
    font-family: 'Freesentation-Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');