@charset "UTF-8";

footer {
    position: relative;
    background-color: #252525;
    text-align: center;
    display: grid;
    align-content: center;
}

.footer__copyright {
    color: white;
    font-size: 14px;
    padding-bottom: 30px;
}

.footer__sns {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__icon {
    height: 50px;
}

.footer__icon:hover {
    filter: brightness(50%);
    transition: filter 0.3s ease;
}