@charset "UTF-8";

/* ========== Header.jsx : 헤더 ========== */
/* 기본 레이아웃 */
.header {
    z-index: 98;
    width: 80vw;
    box-sizing: border-box;
    padding: 30px 50px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px auto;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 불투명한 유리 효과 + 노이즈 필터 */
.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* 배경 흐림 효과 */
    -webkit-backdrop-filter: blur(5px); /* 사파리 호환 */
    border-radius: 50px;
}

/* 헤더 로고 */
.header__logo {
    color: white;
    font-size: 28px;
    line-height: 28px;
    font-family: "Rubik Bubbles";
}

/* nav__item 배치 : grid, 5열 */
.nav__list {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 40px;
    color: white;
    font: 17px "Avenir";
    letter-spacing: 0.5px;
}

/* 메뉴 */
.nav__item {
    cursor: pointer;
    line-height: 28px;
}

.sub-nav__icon-container {
    display: none;
}

.sub-nav__icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sub-nav {
    z-index: 98;
    overflow: hidden;
    max-height: 0;
    font: 17px "Avenir";
    opacity: 0;
    pointer-events: none;
}

.sub-nav.open {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    transition: max-height 1s linear, opacity 0.5s ease, padding-top 1s ease, margin-top 1s ease, border-top 0.3s ease;
}

.sub-nav.close {
    opacity: 0;
    pointer-events: none;
    margin-top: 0;
    padding-top: 0;
    transition: max-height 0.5s ease, opacity 0.8s ease, padding-top 1s ease, margin-top 1s ease, border-top 0.3s ease;
}

.sub-nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    letter-spacing: 0.5px;
}

.sub-nav__item {
    cursor: pointer;
}