@charset "UTF-8";

.header {
    z-index: 99;
    width: 90vw;
    box-sizing: border-box;
    padding: 30px 50px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.header__logo {
    color: white;
    font: 30px/30px "Rubik Bubbles";
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 50px;
    color: white;
    font-size: 17px;
    line-height: 30px;
}

.nav__item {
    cursor: pointer;
}
